<p>product works!</p>

<products-price
*ngIf="isProductVisible"
[price]="currentPrice"
/>

<button (click)="isProductVisible = !isProductVisible">
    Toggle
</button>


<button (click)="increasePrice()">
    +1 Price
</button>